<div class="container">
  <button type="button">
    <a href="/posts/create">Create post</a>
  </button>
  <div class="posts-container">
    {{#each posts}}
      <div class="card" style="width: 18rem;">
        <img
          src="{{this.thumbnail}}"
          class="card-img card-img-top"
          alt="{{this.title}}"
        />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="/posts/{{this.slug}}" class="btn btn-primary">Read</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>